.highlight {
    border-radius: 8px;
}

.highlight pre {
    padding: 8px;
}

.navigation-header {
    text-align: center;
}

.bs-docs-section h1 {
    display: none;
}

.bs-docs-section h1.real {
    display: block;
}



/* Two columns for install code blocks */
div.twocol {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    gap: 20px;
}

div.twocol > div {
    flex-grow: 1;
    padding: 0;
    margin: 0;
}


/* Panels for homepage */
div.card-header {
    font-weight: bold;
}
