.highlight {
    border-radius: 8px;
}

.highlight pre {
    padding: 8px;
}

.navigation-header {
    text-align: center;
}

.bs-docs-section h1 {
    display: none;
}

.bs-docs-section h1.real {
    display: block;
}
