*~
.*.swp
.*.swo
*.pyc
build/
dist/
doc/api/
doc/source/gallery.rst
doc/tutorial/
src/igraph/*.so
result_images/
*.egg-info/
.python-version
.eggs/
.tox
.venv/
.venv-*/
.vscode/
vendor/build/
vendor/install/
.DS_Store

