*~
.*.swp
.*.swo
*.pyc
build/
dist/
src/igraph/*.so
result_images/
*.egg-info/
.python-version
.eggs/
.tox
.venv/
.venv-*/
.vscode/
vendor/build/
vendor/install/
.DS_Store

doc/source/gallery.rst
doc/source/tutorials
doc/linkcheck
doc/api/
doc/dash/
doc/html/
doc/jekyll_tools/vendor
doc/examples_sphinx-gallery/social_network.*
