image:
  - Visual Studio 2017

environment:
  global:
    CIBW_BEFORE_BUILD: python setup.py build_c_core
    CIBW_TEST_COMMAND: "cd {project} && python -m unittest"
    IGRAPH_EXTRA_CONFIGURE_ARGS: "--disable-graphml"

  matrix:
    - CIBW_BUILD: "*-win32"
      CIBW_SKIP: "cp27-*"
      MSYSTEM: MINGW32
      PATH: C:\msys64\usr\bin;C:\msys64\mingw32\bin;C:\Windows\System32;C:\Windows;%PATH%
      TARGET_ARCH: "x86"

    - CIBW_BUILD: "*-win_amd64"
      MSYSTEM: MINGW64
      PATH: C:\msys64\usr\bin;C:\msys64\mingw64\bin;C:\Windows\System32;C:\Windows;%PATH%
      TARGET_ARCH: "x64"

platform:
  - x64

install:
  - bash -lc "pacman --needed --noconfirm -Sy pacman-mirrors"
  - bash -lc "pacman --noconfirm -Sy"
  - bash -lc "pacman --noconfirm -S autoconf automake bison flex libtool mingw-w64-x86_64-libtool mingw-w64-i686-libxml2 mingw-w64-x86_64-libxml2 zip"
  - pip install cibuildwheel==1.1.0

before_build:
  - git submodule update --init --recursive

for:
  - matrix:
      only:
        - MSYSTEM: MINGW32
    build_script:
      - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars32.bat"
      - cibuildwheel --output-dir wheelhouse
  - matrix:
      only:
        - MSYSTEM: MINGW64
    build_script:
      - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
      - cibuildwheel --output-dir wheelhouse

artifacts:
  - path: "wheelhouse\\*.whl"
    name: Wheels

