include setup.cfg
include src/_igraph/*.h
include MANIFEST.in
include COPYING
include scripts/mkdoc.sh
include scripts/epydoc-patched
include scripts/epydoc.cfg
include tests/*.py
graft vendor/source/igraph

