include setup.cfg
include src/_igraph/*.h
include MANIFEST.in
include COPYING
include scripts/mkdoc.sh
include scripts/epydoc-patched
include scripts/epydoc.cfg
include tests/*.py

graft vendor/source/igraph
prune vendor/source/igraph/etc/abstracts
prune vendor/source/igraph/etc/papers
prune vendor/source/igraph/etc/presentations
prune vendor/source/igraph/interfaces
prune vendor/source/igraph/vendor/simpleraytracer

