.search-box-container {
  position: relative;
  z-index: 15;   /* jumbotron is at 10 so we need this higher */
}
.search-box-container > .row:first-child {
  position: absolute;
  width: 480px;
  top: 0;
}
.search-box-container .search-label {
  transform: translateY(3px);
}
.gsc-results-wrapper-overlay {
  top: 80px !important;
}

/* offset the documentation title page from the search bar */
.titlepage {
  margin-top: 80px;
}

div.example-contents {
  display: none;
}
.example p.title {
  color: blue;
}
.example p.title b:before {
  content: '\25B6\00a0';
}
.example p.title:hover { 
  color: #00f; 
  text-decoration: underline;
  cursor: hand;
}

code {
    background: transparent;
    color: inherit;

	/* undoing break-word setting from Bootstrap; it messes up the layout of
	 * argument lists in the R manual */
	word-break: normal !important;
}

.navigation-header {
    text-align: right;
}

.navigation-footer { 
    margin: 50px 0;
}

div.variablelist td { 
    display: table-cell;
    vertical-align: top; 
}

div.variablelist span.term {
    padding-right: 10px;
}

div.authorgroup {
    margin-bottom: 50px;
}

.warning {
  background-color: #ffc;
  padding: 0.2em 1em;
  border: 1px solid #f80;
}
.warning .title {
  color: #f80;
}

