/* Sticky footer, http://getbootstrap.com/examples/sticky-footer-navbar/ */

html {
  min-height: 100%;
  scroll-padding-top: 80px;
}

html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  position: relative;
}

nav.fixed-top {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

span.type {
  font-family: monospace;
  font-size: 87.5%;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Pad top by header height */
  padding: 57px 0 0 0;
}

#footer {
  padding-top: 5px;
}
#footer p.credit {
  text-align: center;
}

/*
.navbar-brand
{
    padding-right: 5px;
}

.navbar-brand img
{
    margin-right: 5px;
}
*/

.gist {
    line-height: 1.2;
}

@media(min-width:768px) {
    .bs-docs-section {
        font-size: 140%;
    }
    .bs-sidebar {
        font-size: 120%;
    }
    .gist .gist-file .gist-data {
        font-size: 80% !important;
    }
}

.bs-docs-section .navigation-header {
    margin-bottom: 1.5rem;
}
.bs-docs-section h1 {
    margin: 2.5rem 0;
}
.bs-docs-section h2 {
    margin: 2.5rem 0 1.5rem 0;
}
.bs-docs-section h3 {
    margin: 2.5rem 0 1.5rem 0;
}

.bs-docs-section .page-header:first-child h1,
.bs-docs-section .post-header:first-child h1
{
    margin-top: 0 !important;
}

.post-header h1,
.post-header h2 {
	margin-bottom: 0.5rem !important;
}
.post-header .post-time {
	margin-bottom: 1.5rem;
}

code {
    color: #87556e;
}

code.rfun:after {
    content: "()";
}

/* Page headers */
.bs-header {
  padding: 20px 15px 20px; /* side padding builds on .container 15px, so 30px */
  font-size: 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  color: white;
  margin-bottom: 30px;
  background: #3e648d;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #3e648d),
      color-stop(1, #405a6a)
  );
  background-image: -o-linear-gradient(bottom, #3e648d 0%, #405a6a 100%);
  background-image: -moz-linear-gradient(bottom, #3e648d 0%, #405a6a 100%);
  background-image: -webkit-linear-gradient(bottom, #3e648d 0%, #405a6a 100%);
  background-image: -ms-linear-gradient(bottom, #3e648d 0%, #405a6a 100%);
  background-image: linear-gradient(to bottom, #3e648d 0%, #405a6a 100%);
}
.bs-header p {
  font-weight: 300;
  line-height: 1.5;
}
.bs-header .container {
  position: relative;
}
.bs-header p, .bs-header h1 {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media (min-width: 768px) {
  .bs-header {
    font-size: 21px;
    text-align: left;
  }
  .bs-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .bs-header p {
    margin-right: 380px;
  }
}

.tooltip-inner {
    font-size: medium;
}

span.anchor { 
  margin-top: -70px;        /* Size of fixed header */
  padding-bottom: 70px;
  height: 0px;
  display: block;
}

.tr-first-in-group {
    border-top: 2px solid;
    border-color: lightgray;
    padding-top: 10px;
}

/* To hide the empty python index */

#indices-and-tables {
    visibility: hidden;
    display: none;
}

.jumbotron {
	position: relative;
}
.jumbotron canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e9ecef;
}
.jumbotron .container {
	pointer-events: none;
	position: relative;
	z-index: 10;
}
.jumbotron .container .btn {
	margin-bottom: 0.25em;
	pointer-events: auto;
}


