name: "Build and test with tox"

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*.*.*'
  pull_request:
    branches:
      - '*'
    tags-ignore:
      - '*.*.*'



jobs:
  build_linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - 3.6
        - 3.7
        - 3.8
        - 3.9
        - pypy-3.7

    steps:
    - uses: actions/checkout@v1
    - name: Init C core submodule
      run: git submodule update --init && cd vendor/source/igraph && git fetch --unshallow
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install OS dependencies
      run:
        sudo apt-get install gfortran flex bison
    - name: Install Python dependencies
      run: |
        # Pypi has no pip by default, and ubuntu blocks python -m ensurepip
        # However, Github runners are supposed to have pip installed by default
        # https://docs.github.com/en/actions/guides/building-and-testing-python
        #wget -qO- https://bootstrap.pypa.io/get-pip.py | python
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions
    - name: Test with tox
      run: tox

  build_osx:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version:
        - 3.6
        - 3.7
        - 3.8
        - 3.9

    steps:
    - uses: actions/checkout@v1
    - name: Init C core submodule
      run: git submodule update --init
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install OS dependencies
      run:
        brew install autoconf automake libtool
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions
    - name: Test with tox
      run: tox

